 <!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
                <script src="{{asset('js/jquery-3.3.1.min.js')}}"></script>
            <script src="{{asset('js/jquery-ui.min.js')}}"></script>
        <script src="{{asset('js/reserva.js')}}"></script>
    <link rel="stylesheet" href="{{asset('styles/bootstrap.min.css')}}" type="text/css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Overpass:wght@100&display=swap" rel="stylesheet">
        <script src="{{asset('js/captura.js')}}"></script>
        <link rel="stylesheet" href ="{{asset('styles/jquery.datetimepicker.min.css')}}">
        <link rel="stylesheet" href="{{asset('styles/jquery-ui.min.css')}}">
          <link href="{{asset('styles/logo.css')}}" rel="stylesheet">

    </head>
    <body>
  <nav class="navbar navbar-dark bg-dark">
                  <a class="d-flex text-decoration-none text-dark" href="/">
                    <img class="logo" src="{{asset('/img/StromZu-W.png')}}" alt="StromZu-Logo"/>
                    <h1 class="text-decoration-none text-light">StromZu</h1>
                </a>
</nav>
        <header>
            <h1>Bienvenido a {{canal.nombre}}</h1>
        </header>
        <!-- Stream video via webcam -->
        <div class="video-wrap">
            <video id="video" playsinline autoplay></video>

            <video id="videoconretraso" playsinline autoplay></video>
        </div>
        <section>
        {{canal.descripcion}}
        </section>
        <!-- Trigger canvas web API -->
        <div class="controller">
            <button id="snap">Capture</button>

        </div>
    {% if is_granted('ROLE_USER') %}

<div id="dialog" title={{"Reserva en " ~ canal.nombre}}>
       {{ form_start(reservaForm,{'attr':{'class':'form-control'}}) }}
                <div class="row g-3 align-items-center">
                        {{ form_widget(reservaForm.cliente,{'attr':{'value': app.user.id }}) }}
                        {{ form_widget(reservaForm.canal,{'attr':{'value':canal.id }}) }}
                        {{ form_widget(reservaForm.precio) }}

                    <div class="col-md-6 col-sm-12">
                        {{ form_widget(reservaForm.fechaInicio,{'attr':{'class':'form-control text email', "autocomplete": "off"}}) }}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {{ form_widget(reservaForm.fechaFin,{'attr':{'class':'form-control text' , "autocomplete": "off"}}) }}
                    </div>
                </div>

                <div class="row mt-4">
                        <div class="col-md-6 col-sm-12">
                            <p>Precio por hora: <span id="precioHora">{{ canal.precio}}</span>.00€</p>
                        </div>
                        <div class="col-md-6 col-sm-12" id="precioTotal">
                        </div>
                </div>                        

                <div class="row "></div>                        
                <input type="submit" value="Confirmar reserva"/>
        {{ form_end(reservaForm) }}
            <!-- Allow form submission with keyboard without duplicating the dialog button -->
</div>
 
<button id="opener" class="btn btn-success btn-lg">Open Dialog</button>


{% endif %}


                {# Más adelante será un radio button que haga un intercambio de formularios. #}
                {# Además en un futuro, se traerá el formulario de otra plantilla y será incorporada
                    a partir de AJAX #}
                     



        <script src="{{asset('js/jquery.datetimepicker.full.js')}}">

        </script>
        <script src="{{asset('js/datePicker.js')}}">
        </script>
    </body>
</html> 
