 <!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>StromZu</title>
                <script src="{{asset('js/jquery-3.3.1.min.js')}}"></script>
            <script src="{{asset('js/jquery-ui.min.js')}}"></script>
        <script src="{{asset('js/reserva.js')}}"></script>
    <link rel="stylesheet" href="{{asset('styles/bootstrap.min.css')}}" type="text/css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Overpass:wght@100&display=swap" rel="stylesheet">
        <script src="{{asset('js/captura.js')}}"></script>
        <link rel="stylesheet" href ="{{asset('styles/jquery.datetimepicker.min.css')}}">
        <link rel="stylesheet" href="{{asset('styles/jquery-ui.min.css')}}">
          <link href="{{asset('styles/logo.css')}}" rel="stylesheet">
            <link href="{{asset('vendor/aos/aos.css')}}" rel="stylesheet">
  <link href="{{asset('vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{asset('vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{asset('vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{asset('styles/style.css')}}" rel="stylesheet">
  <link href="{{asset('styles/spinner.css')}}" rel="stylesheet">
  <link href="{{asset('styles/logo.css')}}" rel="stylesheet">

    </head>
    <body>
  <nav class="navbar navbar-dark bg-dark">
                  <a class="d-flex text-decoration-none text-dark" href="/">
                    <img class="logo" src="{{asset('/img/StromZu-W.png')}}" alt="StromZu-Logo"/>
                    <h1 class="text-decoration-none text-light">StromZu</h1>
                </a>
</nav>
    <div class="container">

        <header>
            <h1>Bienvenido a {{canal.nombre}}</h1>
        </header>
        <!-- Stream video via webcam -->
                        <div class="row"> 

        <div class="col-lg-7 col-md-12 col-sm-12">
            <div class="video-wrap">
                <video id="video" playsinline autoplay></video>

                <video id="videoconretraso" playsinline autoplay></video>

            </div>

        </div>
        <div class="col-lg-5 col-md-12 d-sm-none d-md-inline chat bg-success">
        Aqui en un futuro irá un chat
        </div>
                </div>
                    {% if is_granted('ROLE_USER') %}

                            <button id="opener" class="mt-3 btn btn-success btn-lg">Open Dialog</button>
                    {% endif %}
            <section>

            {{canal.descripcion}}
            </section>
        <!-- Trigger canvas web API -->

    {% if is_granted('ROLE_USER') %}

<div id="dialog" class="bg-dark" title={{"Reserva en " ~ canal.nombre}}>
       {{ form_start(reservaForm,{'attr':{'class':'form-control'}}) }}
                <div class="row g-3 align-items-center">
                        {{ form_widget(reservaForm.cliente,{'attr':{'value': app.user.id }}) }}
                        {{ form_widget(reservaForm.canal,{'attr':{'value':canal.id }}) }}
                        {{ form_widget(reservaForm.precio) }}

                    <div class="col-md-6 col-sm-12">
                        {{ form_widget(reservaForm.fechaInicio,{'attr':{'class':'form-control text email', "autocomplete": "off"}}) }}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {{ form_widget(reservaForm.fechaFin,{'attr':{'class':'form-control text' , "autocomplete": "off"}}) }}
                    </div>
                </div>

                <div class="row mt-4">
                        <div class="col-md-6 col-sm-12">
                            <p>Precio por hora: <span id="precioHora">{{ canal.precio}}</span>.00€</p>
                        </div>
                        <div class="col-md-6 col-sm-12" id="precioTotal">
                        </div>
                </div>                        

                <div class="row "></div>                        
                <input type="submit" value="Confirmar reserva"/>
        {{ form_end(reservaForm) }}
            <!-- Allow form submission with keyboard without duplicating the dialog button -->
</div>
 


{% endif %}
<footer>
         <div class="row justify-content-center mb-0 pt-5 pb-0 row-2 px-3">
            <div class="col-12">
                <div class="row row-2">
                    <div class="col-sm-3 text-md-center">
                        <h5><span class="icon"> </span><b> StromZu</b></h5>
                    </div>
                    <div class="col-sm-3 my-sm-0 mt-5">
                        <ul class="list-unstyled">
                            <li class="mt-0">plataforma</li>
                            <li>Centro de ayuda</li>
                            <li>Seguridad</li>
                        </ul>
                    </div>
                    <div class="col-sm-3 my-sm-0 mt-5">
                        <ul class="list-unstyled">
                            <li class="mt-0">Clientes</li>
                            <li>Servicios de clientes</li>
                        </ul>
                    </div>
                    <div class="col-sm-3 my-sm-0 mt-5">
                        <ul class="list-unstyled">
                            <li class="mt-0">Compañia</li>
                            <li><a href="mapaNav">Mapa de navegación</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-0 pt-0 row-1 mb-0 px-sm-3 px-2">
            <div class="col-12">
                <div class="row my-4 row-1 no-gutters">
                    <div class="col-sm-3 col-auto text-center"><small>&#9400; Stromzu</small></div>
                    <div class="col-md-3 col-auto "></div>
                    <div class="col-md-3 col-auto"></div>
                    <div class="col my-auto text-md-left text-right "> <small> jlopseg049@g.educaand.es <span><img src="https://i.imgur.com/TtB6MDc.png" class="img-fluid " width="25"></span> <span><img src="https://i.imgur.com/N90KDYM.png" class="img-fluid " width="25"></span></small> </div>
                </div>
            </div>
        </div>
    </footer>


                {# Más adelante será un radio button que haga un intercambio de formularios. #}
                {# Además en un futuro, se traerá el formulario de otra plantilla y será incorporada
                    a partir de AJAX #}
                     

</div>

        <script src="{{asset('js/jquery.datetimepicker.full.js')}}">

        </script>
        <script src="{{asset('js/datePicker.js')}}">
        </script>

    </body>
</html> 
