 <!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
                <script src="{{asset('js/jquery-3.3.1.min.js')}}"></script>
            <script src="{{asset('js/jquery-ui.min.js')}}"></script>
        <script src="{{asset('js/reserva.js')}}"></script>

        <link href="{{asset('vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
        <script src="{{asset('js/captura.js')}}"></script>
        <link rel="stylesheet" href ="{{asset('styles/jquery.datetimepicker.min.css')}}">
        <link rel="stylesheet" href="{{asset('styles/jquery-ui.min.css')}}">
    </head>
    <body>
    
    <sytle>
  
    </sytle>
        <header>
            <h1>Bienvenido a {{canal.nombre}}</h1>
        </header>
        <!-- Stream video via webcam -->
        <div class="video-wrap">
            <video id="video" playsinline autoplay></video>

            <video id="videoconretraso" playsinline autoplay></video>
        </div>
        <section>
        {{canal.descripcion}}
        </section>
        <!-- Trigger canvas web API -->
        <div class="controller">
            <button id="snap">Capture</button>
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

        </div>
<div id="dialog" title="Basic dialog">
  <p>This is an animated dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the &apos;x&apos; icon.</p>
</div>
 
<button id="opener">Open Dialog</button>





                {# Más adelante será un radio button que haga un intercambio de formularios. #}
                {# Además en un futuro, se traerá el formulario de otra plantilla y será incorporada
                    a partir de AJAX #}
                     
{# <div id="dialog-form" title="Create new user">
  <p class="validateTips">All form fields are required.</p>
 
  <form>
    <fieldset>
    <input placeholder="Fecha Reserva Inicio" id="dateInicio" type="text"/>
    <input placeholder="Fecha Reserva Fin" id="dateFin" type="text"/>
                    
                    <input type="submit" value="Confirmar reserva"/>
 
      <!-- Allow form submission with keyboard without duplicating the dialog button -->
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </fieldset>
  </form>
</div>
                     #}

        <!-- Webcam video snapshot -->
        {# <canvas id="canvas" width="640" height="480"></canvas> #}
   




        <script src="{{asset('js/jquery.datetimepicker.full.js')}}">

        </script>
        <script src="{{asset('js/datePicker.js')}}">
        </script>
    </body>
</html> 
